@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Syncopate:wght@400;700&display=swap');

@media (min-width: 1024px) {
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Comfortaa', cursive;
  background-image: radial-gradient(circle at 50% -185%, #476c94 0%, rgb(255, 255, 255) 90%);
  background-repeat: no-repeat;
  backdrop-filter: blur(30px); /* Adjust the blur intensity as needed */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

/* SIGN IN AND OUT BELLOW */

.signing-page-logo {
  font-size: 92px;
  color: #476C94;
}

.signin-logo-pic {
  height: 410px;
  z-index: -1;
  top: 7%;
  left: 36%;
  position: absolute;
}

.signing-page-moto {
  font-size: 40px;
  color: #476C94;
}

.signin-text {
  font-size: 28px;
  margin-bottom: 4px;
  margin-top: 100px;
}

.sign-in-btn {
  align-self: center;
  border: none;
  border-radius: 3rem;
  height: 4rem;
  width: 250px;
  background-color: #80B3EA;
  box-shadow: 6px 6px 8px #b8b8b8;
  transition: 0.25s ease;
  }


.signin-hand {
  padding-top: 8px;
  transition: transform 0.25s ease-in-out;
  padding-bottom: 6px;
  transform: scale(1.8);
}

.sign-in-btn:hover {
background-color: #80B3EA;
transform: scale(1.023);
box-shadow: 6.5px 10px 10px #b8b8b8fb;
}

.sign-in-btn:hover .signin-hand {
  animation: rotate-signin 0.6s ease-in-out; /* Add rotation animation */
}

@keyframes rotate-signin {
  0% {
    transform: rotate(0deg) scale(1.8);
  }
  25% {
    transform: rotate(-25deg) scale(1.9);
  }
  25% {
    transform: rotate(25deg) scale(1.925);
  }
  75% {
    transform: rotate(-25deg) scale(1.9);
  }
  100% {
    transform: rotate(0deg) scale(1.8);
  }
}



.signout-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 17px;
  transition: 0.2s ease-in;
  margin-left: -4px;
}

.signout-btn:hover {
  color: white;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.48);
}

/* RESET DAY COMPONENT BELLOW */

.reset-day {
  margin-top: 16px;
  margin-left: 150px;
  margin-bottom: 4px;
}

.reset-day-text {
  margin-right: 6px;
}

.reset-day-input {
  font-size: 20px;
  margin-top: -3px;
  font-weight: 600;
  padding-left: 5px;
  padding-right: 30px;
  padding-top: 6px;
  padding-bottom: 7px;
  border: none;
  outline: none;
  transition: 0.1s ease-in-out;
  background: transparent;
}

.reset-day-input:focus {
  outline: solid #476C94 3px;
  box-shadow: 0px 0px 10px 1px #476C94;
  border: none;
}

.reset-day-submit {
  height: 24px;
  width: 24px;
  padding-top: 0px;
  padding-left: 3px;
  margin-left: 15px;
  margin-top: 18px;
  background-color: rgb(255, 255, 255);
  color: #476C94;
  font-weight: 600;
  border: solid white 2px;
  transition: 0.2s ease-in-out;
  box-shadow: none;
  border-radius: 6px;
  background: transparent;
  border: solid #476C94 2px;
}

.reset-day-submit:hover {
  box-shadow: 0px 0px 9px 0px #476C94;
  background-color: white;
  border: solid #476C94 2px;
  color: #476C94;
  border-radius: 6px;
}

/* RESET DAY COMPONENT ABOVE */
/* RESET WEEK BUTTON BELLOW */

.reset-week-text {
  padding-left: 6px;
}

.reset-week-btn {
  background-color: white;
  width: 7.6rem;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c0c0c0;
  margin-top: 0px;
 }
 
 .reset-week-btn::before {
  content: '';
  width: 100%;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #D4A573 0%, #D4A573 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }

 .reset-week-btn:hover::before {
  width: 0; /* Changed from '100%' to '0' */
}

.reset-week-btn:hover {
  background-color: #f1f1f1;
}
 
.spin-icon {
  animation: spin 1.2s forwards;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* RESET WEEK BUTTON ABOVE */
/* NAV BAR BELLOW */

.nav-brand-name {
  font-size: 24px;
  padding-bottom: 10px;
}

.nav-logo-img {
  width: 80px;
  height: 60px;
  padding: 0px;
  margin-right: 10px;
}

.nav-bar {
  background: linear-gradient(144deg,#476C94, #476C94,#476C94);
  font-weight: 600;
  box-shadow: 0px 0px 10px -2px rgba(80, 80, 80, 0.905);
}

.nav-text {
  color: rgba(255, 255, 255, 0.805);
  transition: 0.2s ease-in;
}

.nav-text:hover{
  color: white;
  text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.592);
}

.nav-text:focus {
  color: white;
}

/*NAV BAR ABOVE */
/* GOAL BOARD BELLOW */

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

.goal-border {
  position: relative;
  width: 900px;
  height: 652px;
  border-radius: 15px;
  z-index: 15;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 9px 9px 18px #c0c0c0;
}

.blob-goal {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 650px;
  height:600px;
  border-radius: 50%;
  background: #80B3EA;  /*  MAIN BLUE */
  opacity: 1;
  filter: blur(30px);
  animation-name: blob-bounce;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.cont {
  height: 100%;
  text-align: right;
  background: white;
}

.progress-bar-goal {
  width: 97.5%;
  height: 20px;
  background-color: #f5f5f592;
  border-radius: 9px;
  margin-bottom: 8px;
  position: relative;
  border: solid rgb(255, 255, 255) 2px;
}

.progress-goal {
  height: 100%;
  background: linear-gradient(to right, #476C94 0%, #80B3EA 100%);
  border-radius: 9px;
  transition: 1.8s ease-in-out;
}

.progress-text-goal {
  position: absolute;
  font-size: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-weight: 400;
}

.goal {
  border: none;
  margin-top: -1px;
  margin-right: 0px;
  width: 97.8%;
  height: 97.25%;
  text-align: left;
  background: rgb(234, 234, 234);
  background: linear-gradient(90deg, rgb(217, 217, 217) 13%, rgb(234, 234, 234) 48%, rgb(255, 255, 255) 78%);
  border-radius: 10px;
  position: relative;

}


.muscle-goal {
  margin-left: 15px;
}

.muscle-goal-title {
  margin-top: -1.5px;
  font-size: 18px;
  margin-left: 4px;
  text-align: left;
}
/* GOAL BOARD ABOVE */
.nav-workouts-btn {
  padding-top: 12px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  width: 9em;
  height: 3em;
  border-radius: 30em;
  text-shadow: 5px 5px 5px #000000;
  font-size: 18px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #b8b8b8;
  transition: 0.5s ease-in-out;
 }

 .nav-workouts-btn:focus {
  background-color: rgb(255, 255, 255);
 }

 .nav-workouts-btn:hover {
  background-color: rgb(220, 220, 220);
 }
 
 .nav-workouts-btn::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #D4A573 0%, #D4A573 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }

 
 .nav-workouts-btn:hover::before {
  width: 9em;
 }

 .nav-workouts-btn::before:focus {
  background-color: white;
 }

 .nav-workouts-btn {
  position: relative;
  transform-origin: center;
}

.nav-wokrouts-dumbbell {
  transition: transform 0.5s ease-in-out;
  padding-bottom: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.nav-workouts-btn:hover .nav-wokrouts-dumbbell {
  animation: rotate 0.5s ease-in-out; /* Add rotation animation */
}
 /* WEEK PRGRESS BAR BELLOW */

 .circular-progress {
  transform: rotate(-90deg);
}

.progress-bar {
  fill: #ffffff;
  stroke: black; 
  stroke-width: 3;
  transition: stroke-dashoffset 0.5s ease;
}

/* WEEK PROGRESS BAR ABOVE */
/* WEEK CARD BELLOW */
.week-card {
  color: #000000;
  width: 290px;
  height: 425px;
  position: relative;
  border: solid rgb(255, 255, 255)3px;
  border-radius: 10px;
  line-height: 150%;
  padding: 16px;
  background: #80B3EA;
  background-blend-mode: multiply;
  background-color: #80B3EA;
  transition: background-color 1s ease-in-out;
  overflow: hidden;
}

.week-card-border {
  width: 306px;
  height: 440px;
  padding-top: 7px;
  border-radius: 15px;
  background: #D4A573;
  background-color: #476C94;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 15px 0px #80B3EA;
  transition: 0.4s ease-in-out;
}

.week-card-border:hover {
  box-shadow: 0px 0px 22px 3px #476C94;
}

.week-card-front {
  bottom: 46px;
  left: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  transition: transform 0.7s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.week-card-titles-back {
  margin-top: -6px;
}

.week-card-back {
  color: rgb(0, 0, 0);
  transform: translateX(120%);
  transition: transform 0.7s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.week-title {
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.week-title::after {
  content: "";
  display: block;
  width: 84%;
  border-radius: 50%;
  height: 3.5px;
  margin: 15px auto;
  background-color: #000000;
}

.week-subtitle {
  font-size: 39px;
  margin-top: 20px;
}

.week-card:hover {
  background-color:#80B3EA;
}

.week-card:hover .week-card-front {
  transform: translateX(-100%);
}

.week-card:hover .week-card-back {
  transform: translateX(0);
}

.week-card-row-back {
  margin-bottom: -7px;
}

.week-card-line-back {
  content: "";
  border-radius: 50%;
  border: solid #000000 2px;
  opacity: 99%;
}

/* WEEK CARD ABOVE */

/* WORKOUT CARDS BELLOW */


.workout-card {
  width: 255px;
  min-width: 255px;
  height: 406px;
  border-radius: 15px;
  padding: 7px;
  box-shadow: #80B3EA 0 0px 18px 0px;
  background-image: linear-gradient(144deg,#476C94, #80B3EA);
  margin: 20px;
  transition: 0.2s ease-in-out;
}

.workout-card__content {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  border: solid rgb(51, 51, 51) 4px;
  background: rgb(203,202,202);
  background: linear-gradient(0deg, rgb(218, 218, 218) 0%, rgba(228,228,228,1) 37%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 100%);
  transition: 0.2s ease-in-out;
}

.workout-text-div {
  margin-bottom: -8px;
  margin-left: 7px;
  margin-right: 7px;
}

.workout-card:hover {
  transform: scale(1.027);
  box-shadow: #80B3EA 0 0px 24px 2px;
}

.workout-card__content:hover {
  border: solid #476C94 0px;
}

/* WORKOUT CARDS ABOVE */

/* WORKOUT LOG MODAL BELLOW */

 #logWorkoutNew {
  border-radius: 3rem;
  height: 3rem;
  box-shadow: 6px 6px 8px #b8b8b8;
  font-size: 16px;
  transition: 0.2s ease;
}

#logWorkoutNew:hover {
  transform: scale(1.05);
  box-shadow: 6.5px 9px 9px #b8b8b8ed;
}

.workout-form {
  max-width: 500px;
}

.workout-form::before {
  content: '';
  background-image: linear-gradient(144deg,#476C94,#80B3EA);
  height: 879px;
  width: 514px;
  position: absolute;
  margin-top: -8px;
  margin-left: -8px;
  z-index: -1;
  border-radius: 15px;
  box-shadow: 0px 0px 18px 0px #80B3EA;
}

.workout-form-body {
  background-color: #ffffff;
  border-radius: 10px;
}


.workout-input {
  border: none;
  font-size: 17px;
}

.workout-floating-label {
  font-size: 20px;
  font-weight: 600;
}

.workout-submit-button {
  background-color: #D4A573;
  border: solid #D4A573 1px;
  font-weight: 600;
  transition: 0.3s ease-out;
}

.workout-submit-button:hover {
  background-color: #D4A573;
  box-shadow: 0px 0px 8px 0px #D4A573;
  border: solid #D4A573 1px;
}

.workout-input-0:focus {
  outline: solid #476c94 5px;
  box-shadow: 0px 0px 13px 0px #476c94;
}

.workout-input-1:focus {
  outline: solid #4d739d 5px;
  box-shadow: 0px 0px 13px 0px #4d739d;
}

.workout-input-2:focus {
  outline: solid #537aa6 5px;
  box-shadow: 0px 0px 13px 0px #537aa6;
}

.workout-input-3:focus {
  outline: solid #5981af 5px;
  box-shadow: 0px 0px 13px 0px #5981af;
}

.workout-input-4:focus {
  outline: solid #5e88b7 5px;
  box-shadow: 0px 0px 13px 0px #5e88b7;
}

.workout-input-5:focus {
  outline: solid #638ebf 5px;
  box-shadow: 0px 0px 13px 0px #638ebf;
}

.workout-input-6:focus {
  outline: solid #6995c7 5px;
  box-shadow: 0px 0px 13px 0px #6995c7;
}

.workout-input-7:focus {
  outline: solid #6f9cd0 5px;
  box-shadow: 0px 0px 13px 0px #6f9cd0;
}

.workout-input-8:focus {
  outline: solid #73a1d6 5px;
  box-shadow: 0px 0px 13px 0px #73a1d6;
}

.workout-input-8:focus {
  outline: solid #78a8de 5px;
  box-shadow: 0px 0px 13px 0px #78a8de;
}

.workout-input-9:focus {
  outline: solid #7cade4 5px;
  box-shadow: 0px 0px 13px 0px #7cade4;
}

.workout-input-10:focus {
  outline: solid #80b3ea 5px;
  box-shadow: 0px 0px 13px 0px #80b3ea;
}

.workout-input-11:focus {
  outline: solid #80b3ea 5px;
  box-shadow: 0px 0px 13px 0px #80b3ea;
}
/* WORKOUT LOG MODAL ABOVE */

/* GOAL SET MODAL BELLOW */
    /* SET GOAL BUTTON BELLOW */
    .set-goal-button {
      outline: 0;
      border: none;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 140px;
      height: 45px;
      padding-right: 0px;
      padding-left: 0px;
      border-radius: 30em;
      box-shadow: 6px 6px 12px #c0c0c0;
      overflow: hidden;
      background: linear-gradient(to right, #D4A573 0%, #D4A573 100%);
     }

     
     .set-goal-text {
      margin-top: 10px;
      font-weight: 500;
     }

     .set-goal-button div {
      transform: translateY(0px);
      width: 8rem;
      display: flex;
      justify-content: center;
     }
     
     .set-goal-button,
     .set-goal-button div {
      transition: 0.7s cubic-bezier(.16,1,.3,1);
     }
     
     .set-goal-button div span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 49px;
      padding: 0.75em 1.125em;
     }
     
     .set-goal-button div:nth-child(1) {
      background: linear-gradient(to right, #D4A573 0%, #D4A573 100%);
     }
     
     .set-goal-button div:nth-child(2) {
      background: linear-gradient(to right, #D4A573 0%, #D4A573 100%);
      display: flex;
      justify-content: center;
     }
     
     .set-goal-button:hover {
      box-shadow: 6px 6px 12px #c0c0c0;
     }
     
     .set-goal-button:hover div {
      transform: translateY(-50px);
     }
     
     .set-goal-button p {
      font-size: 15px;
      color: #000000;
     }

    /* SET GOAL BUTTON ABOVE */

.goal-form {
  max-width: 500px;
  z-index: 12;
}

.goal-form::before {
  content: '';
  background-image: linear-gradient(144deg,#476C94,#80B3EA);
  height: 812px;
  width: 514px;
  position: absolute;
  margin-top: -8px;
  margin-left: -8px;
  z-index: -1;
  border-radius: 15px;
  box-shadow: 0px 0px 18px 0px #80B3EA;
}

.goal-form-body {
  background-color: #ffffff;
  border-radius: 10px;
}


.goal-input {
  border: none;
  font-size: 17px;
}

.goal-floating-label {
  font-size: 20px;
  font-weight: 600;
}

.goal-submit-button {
  background-color: #D4A573;
  border: solid #D4A573 1px;
  font-weight: 600;
  transition: 0.3s ease-out;
  border-radius: 5px;
}

.goal-submit-button:hover {
  background-color: #D4A573;
  box-shadow: 0px 0px 8px 0px #D4A573;
  border: solid #D4A573 1px;
}

.goal-input-0:focus {
  outline: solid #4b719a 5px;
  box-shadow: 0px 0px 13px 0px #4b719a;
}

.goal-input-1:focus {
  outline: solid #5279a5 5px;
  box-shadow: 0px 0px 13px 0px #5279a5;
}

.goal-input-2:focus {
  outline: solid #5981af 5px;
  box-shadow: 0px 0px 13px 0px #5981af;
}

.goal-input-3:focus {
  outline: solid #5e88b7 5px;
  box-shadow: 0px 0px 13px 0px #5e88b7;
}

.goal-input-4:focus {
  outline: solid #638ebf 5px;
  box-shadow: 0px 0px 13px 0px #638ebf;
}

.goal-input-5:focus {
  outline: solid #6995c7 5px;
  box-shadow: 0px 0px 13px 0px #6995c7;
}

.goal-input-6:focus {
  outline: solid #6f9cd0 5px;
  box-shadow: 0px 0px 13px 0px #6f9cd0;
}

.goal-input-7:focus {
  outline: solid #73a1d6 5px;
  box-shadow: 0px 0px 13px 0px #73a1d6;
}

.goal-input-8:focus {
  outline: solid #78a8de 5px;
  box-shadow: 0px 0px 13px 0px #78a8de;
}

.goal-input-8:focus {
  outline: solid #7cade4 5px;
  box-shadow: 0px 0px 13px 0px #7cade4;
}

.goal-input-9:focus {
  outline: solid #80b3ea 5px;
  box-shadow: 0px 0px 13px 0px #80b3ea;
}

.goal-input-10:focus {
  outline: solid #80b3ea 5px;
  box-shadow: 0px 0px 13px 0px #80b3ea;
}

/* GOAL SET MODAL ABOVE  */
/* BAR CHART MUSCLE GROUPS BELLOW */
#bar-muscle-total {
  height: 700px;
  width: 900px;
  margin-top: 30px;
  --color: #80B3EA;
  /* complementary of (255, 163, 0) orange */
}

.label-bar-muscles {
  /* moves label away from bar chart */
  --labels-size: 50px;
}

.bar-muscle-data {
  border-radius: 6px 6px 0px 0px;
  transition: 1s ease-in-out;
}

.bar-muscle-datatext {
  font-size: 18px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-top: -4px;
}
/* BAR CHART CHART MUSCLE GROUPS ABOVE */
/* FILTER THROUGH GRAPHS BELLOW */

@keyframes blob-bounce-stats {
  0% {
    transform: translate(-100%, -100%) translate3d(-135%, 63px, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(235%, 63px, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(-135%, 63px, 0);
  }
}

.blob-stat-filter {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 260px;
  height: 120px;
  border-radius: 50%;
  background-color: #476C94;
  filter: blur(22px);
  animation: blob-bounce-stats 9s infinite ease;
}

.stats-filter-btn-cont {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  z-index: 1111;
  box-shadow: 0px 0px 12px -1px #476c94a5;
}

.stats-filter-btns {
  width: 954px;
  margin-left: 4px;
  height: 52px;
  margin-top: 4.5px;
}

.stat-filter-button {
  font-size: 14px;
  font-weight: 700;
  width: 190px;
  border: none;
  background-color: white;
  transition: 0.2s ease;
  height: 3rem;
}

.stat-filter-button:hover {
  background-color: #d4e7fb;
}

.stat-filter-button.selected { 
  background-color: #80B3EA;
  color: #ffffff;
  transition: 0.2s ease;
}

.stat-index0 {
  border-radius: 30px 0px 0px 30px;
}

.stat-index4 {
  border-radius: 0px 30px 30px 0px;
}



  /* BAR CHART WORKOUTS LOGGED EACH DAY BELLOW */
#bar-workouts-each-day {
  height: 700px;
  width: 900px;
  margin-top: 30px;
  --color: #80B3EA;
}

.label-bar-workouts-each-day {
  --labels-size: 50px;
}

.bar-workouts-each-day-data {
  border-radius: 6px 6px 0px 0px;
  transition: 1s ease-in-out;
}

.bar-workouts-each-day-datatext {
  font-size: 18px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-top: -4px;
}
  /* BAR CHART WORKOUTS LOGGED EACH DAY ABOVE */
  /* BAR CHART MUSCLE GROUPS SET EACH DAY OF WEEK BELLOW */
  #bar-muscles-each-day {
    height: 700px;
    width: 900px;
    margin-top: 30px;
    --color: #80B3EA;
  }

  .bar-muscles-each-day {
    --start: 0.5;
  }
  
  .label-bar-muscles-each-day {
    --labels-size: 50px;
  }
  
  .bar-muscles-each-day-data {
    border-radius: 6px 6px 0px 0px;
    transition: 1s ease-in-out;
  }
  
  .bar-muscles-each-day-datatext {
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-top: -4px;
  }


  .muscle-option-div-bar {
    border: solid #D4A573 3px;
    border-radius: 2px;
  }

  .stat-filter-button-muscles {
    background-color: #ffffff;
    border: none;
    font-weight: 600;
    border-radius: 0px;
    transition: 0.2s ease-in-out;
  }

  #muscle-filter-stat:active {
    background-color: #D4A573;
    color: white;
  }

  
  #muscle-filter-stat:focus {
    background-color: #D4A573;
    color: white;
  }

  #muscle-filter-stat-active:active {
    background-color: #D4A573;
    color: white;
  }

  
  #muscle-filter-stat-active:focus {
    background-color: #D4A573;
    color: white;
  }

  .stat-filter-button-muscles:hover {
    background-color: #ffefde;
    border: none;
    font-weight: 600;
    border-radius: 0px;
  }

  .stat-filter-button-muscles-active {
    background: #D4A573;
    font-weight: 600;
    border: none;
    color: white;
    border-radius: 0px;
  }

  .stat-filter-button-muscles-active:hover {
    background: #D4A573;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 0px;
  }
/* MUSCLE GROUP SETS EACH DAY OF WEEK ABOVE */
/* LINE PERCENT OF GOAL BELLOW */
#line-percent-goal {
  height: 700px;
  width: 900px;
  margin-top: 30px;
  --color: #80B3EA;
  overflow: visible;
}

.line-percent-goal-label {
  --labels-size: 50px;
}

.line-percent-goal-datatext {
  font-weight: 700;
}

.line-percent-goal-data {
outline: solid rgb(205, 205, 205) 2px;
}
/* LINE PERCENT OF GOAL ABOVE */
/* STAT OPTION NUMBER OR PERCENT BELLOW */
.num-percent-fil {
  border-radius: 2px;
  outline: solid rgb(176, 176, 176) 3px;
}

.stat-filter-number-percent {
  border-radius: 1px;
  border: none;
}

.stat-filter-number-percent-active {
  border-radius: 1px;
  border: none;
}
/* STAT OPTION NUMBER OR PERCENT ABOVE */
/* LINE NUMBER VS GOAL BELLOW */
#line-number-goal {
  height: 700px;
  width: 900px;
  margin-top: 30px;
  --color: #80B3EA;
  overflow: visible;
}

.line-number-goal-dataGoal {
  --color: #476C94 ;
}

.line-number-goal-datatext {
  font-weight: 700;
  margin-right: 2px;
}

.line-number-goal-label {
  --labels-size: 50px;
}
  /* LEGEND CSS BELLOW */

.charts-css#legend li:first-child::before {
  background-color: #476C94 ;
  border: none;
  height: 3px;
  width: 1.9rem;
  border-radius: 1px;
  --color: #476C94 ;
}

.charts-css#legend li:nth-child(2)::before {
  background-color: #80B3EA;
  color: #80B3EA;
  border: none;
  height: 2.5px;
  width: 1.9rem;
  border-radius: 1px;
}


#legend {
  position: relative;
  font-weight: 600;
  border: none;
  width: 143px;
  height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  z-index: 10;
  margin: 0px;
  top: -38%;
  left: 60%;
}

#legend-item {
  margin: 0px;
  padding: 0px;
}

.line-number-goal-data {
  outline: solid rgb(205, 205, 205) 2px;
}

.title-legend-container {
  position: relative;
  left: 8.5%;
}
  /* LEGEND CSS ABOVE */
/* LINE NUMBER VS GOAL ABOVE */

/* MOBILE LOGGER BELLOW */

.mobile-log-full-component {
  margin-top: 20px;
}

.mobile-title-desk {
  font-size: 32px;
}

.log-counters-container {
  min-width: 800px;
}

.counter-muscle-container {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.counter-muscle {
  align-self: center;
  margin-bottom: 8px;
}

.counter-container > p {
  margin: 0px;
  padding: 0px;
}

#count-mobile {
  padding-top: 8px;
  margin-bottom: 0px;
  margin-right: 20px;
  font-size: 22px;
}

#up-iterate {
  border: none;
  background-color: transparent;
}

#down-iterate {
  border: none;
  background-color: transparent;
}

#mobile-line {
  margin-top: 25px;
  border-top: solid black 2px;
  width: 82%;
}

#mobile-line-rsd {
  margin-top: 25px;
  border-top: solid black 2px;
  width:65%;
}

#mobile-line-fd {
  margin-top: 25px;
  border-top: solid black 2px;
  width: 72%;
}

#mobile-line-qh {
  margin-top: 25px;
  border-top: solid black 2px;
  width: 76%;
}

#mobile-line-trap{
  margin-top: 25px;
  border-top: solid black 2px;
  width: 77%;
}

#mobile-line-back{
  margin-top: 25px;
  border-top: solid black 2px;
  width: 83%;
}

#mobile-line-tri{
  margin-top: 25px;
  border-top: solid black 2px;
  width: 81%;
}

.mobile-log-btn-container {
  margin-top: 10px;
}

.reset-mobile {
  background-color: white;
  width: 7.6rem;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-top: 0px;
  box-shadow: 6px 6px 11px #bebebe;
 }
 
 .reset-mobile::before {
  content: '';
  width: 100%;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #D4A573 0%, #D4A573 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }

 .reset-mobile:hover::before {
  width: 0; /* Changed from '100%' to '0' */
}

.reset-mobile:hover {
  background-color: #ffffff;
}
/* MOBILE LOGGER ABOVE */
/* MOBILE LOG DAY MODAL/SUBMIT BELLOW */
.mobile-form-submit {
  margin-top: 10px;
  margin-bottom: -5px;
}

.mobile-log-modalOpen {
  color: #000;
  background-color: #D4A573;
  width: 11.5rem;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c0c0c0;
  margin-top: 0px;
}

.mobile-log-modalOpen:hover {
  color: #000;
  background-color: #D4A573;
}


.mobile-form::before {
  content: '';
  background-image: linear-gradient(144deg,#476C94,#80B3EA);
  height: 112%;
  width: 105%;
  position: absolute;
  margin-top: -8px;
  margin-left: 0px;
  z-index: -1;
  border-radius: 15px;
  box-shadow: 0px 0px 18px 0px #80B3EA;
}


.mobile-floating-label {
  font-size: 18px;
  font-weight: 600;
}

.mobile-form-input {
  font-size: 17px;
}

.mobile-form-input:focus {
  outline: solid #476c94 5px;
  box-shadow: 0px 0px 13px 0px #476c94;
}

.mobile-form-submit {
  margin-top: 10px;
  background-color: #D4A573;
  border: solid #D4A573 1px;
  font-weight: 600;
}
/* MOBILE LOG DAY MODAL/SUBMIT ABOVE */
/* GOAL GENERATOR PAGE/ COMPONENT BELLOW */

.gen-page-title {
  margin-top: 14px;
}
.goal-gen-page-line-top {
  border-top: solid rgb(33, 33, 33) 2px;
  margin-top: 6px;
  margin-bottom: 2px;
}

.goal-gen-count.animate {
  animation: firework 0.5s;
}

@keyframes firework {
  0% {
    transform: scale(.3);
    opacity: .3;
    color: #353F4B;
  }
  50% {
    transform: scale(1.45);
    opacity: 0.7;
    color: #476C94;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.goal-gen-count {
  padding-top: 5px;
  padding-bottom: 0px;
  margin-right: 12px;
}

.goal-gen-muscle-title {
  padding-bottom: 0px;
  padding-top: 10px;
  width: 170px;
}
.muscle-intention-container {
  width: 464px;
  justify-content: space-between;
}

.goal-gen-muscles-cont{
  margin-top: 0px;
}

  .goal-gen-form-container {
    min-width: 900px;
  }

  .desc-intention {   /* INTENTION DESCRIPTION */
   margin-right: 40px;
  }

  .goal-gen-muscle-selector-cont {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  /* GOAL GEN EXPERIENCE SELECTOR RADIO BUTTONS BELLOW */

  @keyframes blob-bounce-gen {
    0% {
      transform: translate(-100%, -100%) translate3d(-33%, 66px, 0);
    }
  
    50% {
      transform: translate(-100%, -100%) translate3d(133%, 66px, 0);
    }
  
    100% {
      transform: translate(-100%, -100%) translate3d(-33%, 66px, 0);
    }
  }

  .blob-gen-exp {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 160px;
    height: 120px;
    border-radius: 50%;
    background-color: #476C94;
    filter: blur(22px);
    animation: blob-bounce-gen 7s infinite ease;
  }

  .exp-btn-cont {
    width: 306px;
    position: relative;
    z-index: 1111;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 12px -1px #476c94a5;
    margin-bottom: 12px;
    margin-top: 6px;
  }

  .experience-btns {
    border-radius: 30px;
    margin-bottom: 18px;
    width: 300px;
    height: 26px;
    margin-top: 3.9px;
}


  .experience-btn {
    background-color: rgb(255, 255, 255);
    border: none;
    height: 2.5rem;
    transition: 0.2s ease;
    font-size: 13.5px;
    font-weight: 900;
  }
  
  .experience-btn.selected {
    background-color: #80B3EA;
    color: white;
    border: none;
    transition: 0.2s ease;
  }

  .experience-btn:hover {
    background-color: #d4e7fb;
  }

  .experience-btn.selected:hover {
    background-color: #80B3EA;
  }

  .experience-btn-beginner {
    border-radius: 30px 0px 0px 30px;
    width: 100px;
  }

  .experience-btn-intermediate {
    width: 100px;
  }

  .experience-btn-advanced {
    border-radius: 0px 30px 30px 0px;
    width: 100px;
  }

 

  /* INTENTION TOOLTIPS FOR GOAL GEN BELLOW */

.intention-tooltip.active:hover::before {
  opacity: 1;
  transform: scale(1.1) translateX(-45%) translateY(-10%);
}

.intention-tooltip.active::before {
  content: attr(title);
  background-color: #476C94;
  color: white;
  font-size: 14px;
  font-family: Arial;
  padding: 4px 8px;
  border-radius: 8px;
  position: absolute;
  top: -30px; /* Adjust the position as needed */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
  transition: 0.2s ease;
  box-shadow: -4px -3px 9px -1px #4848487a;
}

.intention-tooltip.active {
  position: relative;
}

.intention-filter-btn {
  position: relative;
}

.intention-filter-btn::before {
  content: attr(title);
  background-color: #476C94;
  color: white;
  font-size: 14px;
  font-family: Arial;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  top: -30px; /* Adjust the position as needed */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
  transition: 0.2s ease;
  box-shadow: -4px -3px 9px -1px #4848487a;
}

.intention-filter-btn:hover::before {
  opacity: 1;
  transform: scale(1) translateX(-50%) translateY(-10%);
}
/* GOAL GEN RADIO BUTTONS (INTENTION) BELLOW */

.intent-radio-btns {
  position: relative;
  font-size: 18px;
  left: 24%;
}

.intention-tooltip.active{
  background-color: #476C94;
  width: 38px;
  height: 38px;
  border-radius: 50px;
  color: white;
  margin-left: 14px;
  margin-right: 14px;
}
.intention-filter-btn {
  background-color: #80B3EA;
  border: none;
  width: 38px;
  height: 38px;
  border-radius: 50px;
  margin-left: 14px;
  margin-right: 14px;
  transition: 0.3s ease-in-out;
}

.intention-filter-btn:hover {
background-color: #476C94;
border: none;
}

/* GOAL GEN SUBMIT BELLOW */
.goal-gen-submit-container {
  margin-top: 20px;
}

  .goal-gen-submit {
    padding-top: 12px;
    background-color: white;
    color: #000000;
    width: 9em;
    height: 3em;
    border-radius: 30em;
    text-shadow: 5px 5px 5px #000000;
    font-size: 18px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c0c0c0;
    transition: 0.5s ease-in-out;
   }
  
   .goal-gen-submit:hover {
    background-color: rgb(220, 220, 220);
   }
   
   .goal-gen-submit::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #D4A573;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .goal-gen-submit:hover::before {
    width: 9em;
   }
  
   .goal-gen-submit {
    position: relative;
    transform-origin: center;
  }
  
  .goal-gen-thumbUp {
    transition: transform 0.5s ease-in-out;
    color: black;
    padding-bottom: 9px;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-15deg);
    }
    50% {
      transform: rotate(15deg);
    }
    75% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .goal-gen-submit:hover .goal-gen-thumbUp {
    animation: rotate 0.5s ease-in-out; /* Add rotation animation */
  }


/* GOAL GENERATOR PAGE/ COMPONENT ABOVE */
}







































/* PHONE STYLES BELLOW!!!!!!!!!!!!!!!!!!!!!!!!! */

@media (max-width: 1024px) {

  html,
  body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgb(128, 179, 234);
  background: radial-gradient(circle at -200% -200%, #476c94f5 0%, rgb(246, 246, 246) 100%);
  backdrop-filter: blur(50px); /* Adjust the blur intensity as needed */
}
/* NAV BAR BELLOW */

.nav-logo-img {
  width: 90px;
  height: 70px;
  margin-right: 0px;
  padding: 0px;
}

.nav-bar {
  background: linear-gradient(144deg,#476C94, #476C94,#476C94);
  font-weight: 600;
  box-shadow: 0px 0px 10px -2px rgba(80, 80, 80, 0.905);
  z-index: 10;
}

.nav-brand-name {
  font-size: 26px;
}

.nav-text {
  color: rgba(255, 255, 255, 0.772);
  transition: 0.2s ease-in;
}

.signout-btn {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.834);
  font-weight: 600;
  font-size: 17px;
  transition: 0.2s ease-in;
  margin-left: -4px;
}

  /* GOAL GENERATOR BELLOW */
.gen-page-title{
  margin-top: -10px;
  margin-bottom: 8px;
}

.goal-gen-descriptions {
  margin-bottom: -12px;
  margin-top: -14px;
}
  .goal-gen-muscle-title{
    margin-top: 2px;
    font-size: 15px;
    width: 104px;
    margin-left: 0px;
  }

  .desc-intention {
    margin-right: 24px;
  }

  .muscle-intention-container {
    margin-right: 70px;
  }

  .goal-gen-page-line-top {
  border-top: solid rgb(33, 33, 33) 2px;
}


.goal-gen-count {
  padding-bottom: 0px;
  padding-top: 6px;
  margin-right: 14px;
  font-size: 20px;
}

.goal-gen-muscle-title {
  padding-bottom: 0px;
  padding-top: 8px;
}

.goal-gen-submit {
  margin-top: -8px;
}
.goal-gen-submit-container{
  margin-top: 6px;
  margin-bottom: 16px;
}

.experience-btns{
  margin-bottom: -10px;
}

.intention-tooltip.active{
  background-color: #476C94;
  width: 24px;
  border-radius: 0px;
}
.intention-filter-btn {
  background-color: #80B3EA;
  border: none;
  width: 24px;
  transition: 0.3s ease-in-out;
}

.goal-gen-submit {
  padding-top: 12px;
  background-color: white;
  color: #000000;
  width: 9em;
  height: 3em;
  border-radius: 30em;
  text-shadow: 5px 5px 5px #000000;
  font-size: 18px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c0c0c0;
  transition: 0.5s ease-in-out;
 }

 .goal-gen-submit:hover {
  background-color: rgb(220, 220, 220);
 }
 
 .goal-gen-submit::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #D4A573;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .goal-gen-submit:hover::before {
  width: 9em;
 }

 .goal-gen-submit {
  position: relative;
  transform-origin: center;
}

.goal-gen-thumbUp {
  transition: transform 0.5s ease-in-out;
  color: black;
}

  /* MOBILE LOG BELLOW */
  .mobile-log-btn-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 14px;
  }

  .log-counters-container {
    max-width: 750px;
    min-width: 340px;
  }
  
  .counter-muscle-container {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .counter-muscle {
    align-self: center;
    margin-bottom: 6px;
  }
  
  .counter-container > p {
    margin: 0px;
    padding: 0px;
  }
  
  #count-mobile {
    padding-top: 10px;
    margin-bottom: 2px;
    margin-right: 16px;
    font-size: 20px;
  }
  
  #up-iterate {
    border: none;
    background-color: transparent;
  }
  
  #down-iterate {
    border: none;
    background-color: transparent;
  }

  #mobile-line {
    margin-top: 25px;
    border-top: solid black 2px;
    width: 64%;
  }

  #mobile-line-rsd {
    margin-top: 25px;
    border-top: solid black 2px;
    width: 27%;
  }

  #mobile-line-fd {
    margin-top: 25px;
    border-top: solid black 2px;
    width: 44%;
  }

  #mobile-line-qh {
    margin-top: 25px;
    border-top: solid black 2px;
    width: 50%;
  }

  #mobile-line-trap{
    margin-top: 25px;
    border-top: solid black 2px;
    width: 56%;
  }

  #mobile-line-back{
    margin-top: 25px;
    border-top: solid black 2px;
    width: 68%;
  }

  #mobile-line-tri{
    margin-top: 25px;
    border-top: solid black 2px;
    width: 62%;
  }

  .reset-mobile {
    background-color: white;
    width: 7.6rem;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c0c0c0;
    margin-top: 0px;
   }
   
   .reset-mobile::before {
    content: '';
    width: 100%;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #D4A573 0%, #D4A573 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
  
   .reset-mobile:focus:before {
    width: 0; /* Changed from '100%' to '0' */
  }
  
  .reset-mobile:active {
    background-color: white;
  }
   
  .mobile-log-full-component {
    margin-top: 0px;
  }
  
  .mobile-title-desk {
    font-size: 28px;
    margin-bottom: 16px;
    margin-top: 16px;
  }

  /* MOBILE LOG SUBMIT AND MODAL BELLOW */

.mobile-log-modalOpen {
  color: #000;
  background-color: #D4A573;
  width: 11.5rem;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c0c0c0;
  margin-top: 0px;
}


.mobile-form::before {
  content: '';
  background-image: linear-gradient(144deg,#476C94,#80B3EA);
  height: 112%;
  width: 105%;
  position: absolute;
  margin-top: -8px;
  margin-left: 0px;
  z-index: -1;
  border-radius: 15px;
  box-shadow: 0px 0px 18px 0px #80B3EA;
}


.mobile-floating-label {
  font-size: 18px;
  font-weight: 600;
}

.mobile-form-input {
  font-size: 17px;
}

.mobile-form-input:focus {
  outline: solid #476c94 5px;
  box-shadow: 0px 0px 13px 0px #476c94;
}

.mobile-form-submit {
  margin-top: 10px;
  background-color: #D4A573;
  border: solid #D4A573 1px;
  font-weight: 600;
}


}
