@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

.signout-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 17px;
  transition: 0.2s ease-in;
}

.signout-btn:hover {
  color: white;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.48);
}

/* RESET DAY COMPONENT BELLOW */

.reset-day {
  margin-top: 16px;
  margin-left: 160px;
  margin-bottom: 4px;
}

.reset-day-text {
  margin-right: 6px;
}

.reset-day-input {
  font-size: 22px;
  margin-top: -3px;
  font-weight: 600;
  padding-left: 5px;
  padding-right: 30px;
  padding-top: 6px;
  padding-bottom: 7px;
  border: none;
  outline: none;
  transition: 0.1s ease-in-out;
}

.reset-day-input:focus {
  outline: solid rgb(255, 174, 0) 3px;
  box-shadow: 0px 0px 10px 1px rgb(255, 174, 0);
  border: none;
}

.reset-day-submit {
  height: 24px;
  width: 24px;
  padding-top: 0px;
  padding-left: 3px;
  margin-left: 15px;
  margin-top: 18px;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 174, 0);
  font-weight: 600;
  border: solid white 2px;
  transition: 0.2s ease-in-out;
  box-shadow: none;
  border-radius: 6px;
}

.reset-day-submit:hover {
  box-shadow: 0px 0px 9px -1px rgb(255, 174, 0);
  background-color: white;
  border: solid rgb(255, 174, 0) 2px;
  color: rgb(255, 174, 0);
  border-radius: 6px;
}

/* RESET DAY COMPONENT ABOVE */
/* RESET WEEK BUTTON BELLOW */

.reset-week-btn {
  background-color: white;
  width: 7.6rem;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c0c0c0;
  margin-top: 0px;
 }
 
 .reset-week-btn::before {
  content: '';
  width: 100%;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #ffb700 0%, #ff8000 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }

 .reset-week-btn:hover::before {
  width: 0; /* Changed from '100%' to '0' */
}

.reset-week-btn:hover {
  background-color: #f1f1f1;
}
 
.spin-icon {
  animation: spin 1.2s forwards;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* RESET WEEK BUTTON ABOVE */
/* NAV BAR BELLOW */
.nav-bar {
  background: linear-gradient(144deg,rgba(255,163,0,1), rgba(255,163,0,1),rgba(255,163,0,1));
  font-weight: 600;
  box-shadow: 0px 0px 10px -2px rgba(80, 80, 80, 0.905);
}

.nav-text {
  color: rgba(255, 255, 255, 0.805);
  transition: 0.2s ease-in;
}

.nav-text:hover{
  color: white;
  text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.592);
}

.nav-text:focus {
  color: white;
}
/*NAV BAR ABOVE */

/* GOAL BOARD BELLOW */

.goal-border {
  position: relative;
  width: 499px;
  height: 652px;
  border-radius: 15px;
  z-index: 15;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 9px 9px 18px #c0c0c0;
}

.blob-goal {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 350px;
  height:500px;
  border-radius: 50%;
  background: linear-gradient(to right, #ffb700 0%, #ff8000 100%);
  opacity: 1;
  filter: blur(30px);
  animation: blob-bounce 7s infinite ease;
}

.cont {
  height: 100%;
  text-align: right;
  background: white;
}

.progress-bar-goal {
  width: 96.5%;
  height: 20px;
  background-color: #ffffff;
  border-radius: 9px;
  margin-bottom: 8px;
  position: relative;
  border: solid rgb(255, 255, 255) 2px;
}

.progress-goal {
  height: 100%;
  background: linear-gradient(to right, #ffb700 0%, #ff8000 100%);
  border-radius: 9px;
  transition: 1.8s ease-in-out;
}

.progress-text-goal {
  position: absolute;
  font-size: 14px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-weight: 400;
}

.goal {
  margin-top: -1px;
  margin-right: 0px;
  width: 100%;
  height: 97.25%;
  text-align: left;
  background: rgb(234, 234, 234);
  background: linear-gradient(90deg, rgb(217, 217, 217) 13%, rgb(234, 234, 234) 48%, rgb(255, 255, 255) 78%);
  border-radius: 10px;
  position: relative;

}


.muscle-goal {
  margin-left: 15px;
}

.muscle-goal-title {
  margin-top: -2px;
  margin-left: 10px;
  font-size: 18px;
}
/* GOAL BOARD ABOVE */
.nav-workouts-btn {
  padding-top: 12px;
  background-color: white;
  color: #000000;
  width: 9em;
  height: 3em;
  border-radius: 30em;
  text-shadow: 5px 5px 5px #000000;
  font-size: 18px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c0c0c0;
  transition: 0.5s ease-in-out;
 }

 .nav-workouts-btn:hover {
  background-color: rgb(220, 220, 220);
 }
 
 .nav-workouts-btn::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #ffb700 0%, #ff8000 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .nav-workouts-btn:hover::before {
  width: 9em;
 }

 .nav-workouts-btn {
  position: relative;
  transform-origin: center;
}

.nav-wokrouts-dumbbell {
  transition: transform 0.5s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.nav-workouts-btn:hover .nav-wokrouts-dumbbell {
  animation: rotate 0.5s ease-in-out; /* Add rotation animation */
}
 /* WEEK PRGRESS BAR BELLOW */

 .circular-progress {
  transform: rotate(-90deg);
}

.progress-bar {
  fill: #ffffff;
  stroke: #000000; 
  stroke-width: 2;
  transition: stroke-dashoffset 0.5s ease;
}

/* WEEK PROGRESS BAR ABOVE */
/* WEEK CARD BELLOW */
.week-card {
  color: #000000;
  width: 290px;
  height: 410px;
  position: relative;
  border: solid rgb(255, 255, 255)3px;
  border-radius: 10px;
  line-height: 150%;
  padding: 16px;
  background: #ff930f;
  background-blend-mode: multiply;
  background: linear-gradient(to top, #ff930f, #ffcc33);
  transition: background-color 1s ease-in-out;
  overflow: hidden;
}

.week-card-border {
  width: 306px;
  height: 425px;
  padding-top: 7px;
  border-radius: 15px;
  background: rgb(255,105,0);
  background: linear-gradient(0deg, rgba(255,105,0,1) 0%, rgba(255,165,0,1) 50%, rgba(255,225,0,1) 100%);
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 15px 0px #ffb300;
  transition: box-shadow 0.4s ease-in-out;
}

.week-card-border:hover {
  box-shadow: 0px 0px 22px 3px #ffa200;
}

.week-card-front {
  bottom: 30px;
  left: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  transition: transform 0.8s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.week-card-back {
  transform: translateX(120%);
  transition: transform 0.8s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.week-title {
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.week-title::after {
  content: "";
  display: block;
  width: 84%;
  border-radius: 50%;
  height: 3.5px;
  margin: 15px auto;
  background-color: #000000;
}

.week-subtitle {
  font-size: 39px;
  margin-top: 20px;
}

.week-card:hover {
  background-color: #1b1b1b12;
}

.week-card:hover .week-card-front {
  transform: translateX(-100%);
}

.week-card:hover .week-card-back {
  transform: translateX(0);
}

.week-card-row-back {
  margin-bottom: -6px;
}

.week-card-line-back {
  content: "";
  border-radius: 50%;
  border: solid #000000 2px;
  opacity: 85%;
}

/* WEEK CARD ABOVE */

/* WORKOUT CARDS BELLOW */


.workout-card {
  width: 255px;
  height: 406px;
  border-radius: 15px;
  padding: 7px;
  box-shadow: rgba(255, 140, 0, 0.6) 0 0px 18px 0px;
  background-image: linear-gradient(144deg,#ff8000, #ff9d00 50%,#ffd000);
  margin: 20px;
  transition: 0.2s ease-in-out;
}

.workout-card__content {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  border: solid rgb(51, 51, 51) 4px;
  background: rgb(203,202,202);
  background: linear-gradient(0deg, rgb(218, 218, 218) 0%, rgba(228,228,228,1) 37%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 100%);
  transition: 0.2s ease-in-out;
}

.workout-text-div {
  margin-bottom: -8px;
  margin-left: 7px;
  margin-right: 7px;
}

.workout-card:hover {
  transform: scale(1.06);
  box-shadow: rgba(255, 140, 0, 0.9) 0 0px 24px 2px;
}

.workout-card__content:hover {
  border: solid rgb(255, 132, 0) 0px;
}

/* WORKOUT CARDS ABOVE */

/* WORKOUT LOG MODAL BELLOW */


.workout-form {
  max-width: 500px;
}

.workout-form::before {
  content: '';
  background-image: linear-gradient(144deg,#ff6a00, #ff9d00 50%,#ffd000);
  height: 879px;
  width: 514px;
  position: absolute;
  margin-top: -8px;
  margin-left: -8px;
  z-index: -1;
  border-radius: 15px;
  box-shadow: 0px 0px 18px 0px rgb(255, 149, 0);
}

.workout-form-body {
  background-color: #ffffff;
  border-radius: 10px;
}


.workout-input {
  border: none;
  font-size: 17px;
}

.workout-floating-label {
  font-size: 20px;
  font-weight: 600;
}

.workout-submit-button {
  background: linear-gradient(144deg,#ff6a00, #ff9d00 50%,#ffbf00);
  border: solid rgb(255, 157, 0) 1px;
  font-weight: 600;
  transition: 0.2s ease-in;
}

.workout-submit-button:hover {
  box-shadow: 0px 0px 7px 0px rgb(255, 157, 0);
  border: solid rgb(255, 157, 0) 1px;
}

.workout-input-0:focus {
  outline: solid #fa6e0a 5px;
  box-shadow: 0px 0px 13px 0px #fa6e0a;
}

.workout-input-1:focus {
  outline: solid #fa720a 5px;
  box-shadow: 0px 0px 13px 0px #fa720a;
}

.workout-input-2:focus {
  outline: solid #ff7300 5px;
  box-shadow: 0px 0px 13px 0px #ff7300;
}

.workout-input-3:focus {
  outline: solid #ff7b00 5px;
  box-shadow: 0px 0px 13px 0px #ff7b00;
}

.workout-input-4:focus {
  outline: solid #ff8000 5px;
  box-shadow: 0px 0px 13px 0px #ff8000;
}

.workout-input-5:focus {
  outline: solid #ff8800 5px;
  box-shadow: 0px 0px 13px 0px #ff8800;
}

.workout-input-6:focus {
  outline: solid #ff9100 5px;
  box-shadow: 0px 0px 13px 0px #ff9100;
}

.workout-input-7:focus {
  outline: solid #ff9900 5px;
  box-shadow: 0px 0px 13px 0px #ff9900;
}

.workout-input-8:focus {
  outline: solid #ffa600 5px;
  box-shadow: 0px 0px 13px 0px #ffa600;
}

.workout-input-8:focus {
  outline: solid #ffa200 5px;
  box-shadow: 0px 0px 13px 0px #ffa200;
}

.workout-input-9:focus {
  outline: solid #ffaa00 5px;
  box-shadow: 0px 0px 13px 0px #ffaa00;
}

.workout-input-10:focus {
  outline: solid #ffb300 5px;
  box-shadow: 0px 0px 13px 0px #ffb300;
}

.workout-input-11:focus {
  outline: solid #ffbb00 5px;
  box-shadow: 0px 0px 13px 0px #ffbb00;
}
/* WORKOUT LOG MODAL ABOVE */

/* GOAL SET MODAL BELLOW */
    /* SET GOAL BUTTON BELLOW */
    .set-goal-button {
      outline: 0;
      border: none;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 140px;
      height: 45px;
      padding-right: 0px;
      padding-left: 0px;
      border-radius: 30em;
      box-shadow: 6px 6px 12px #c0c0c0;
      overflow: hidden;
      background: linear-gradient(to right, #ffb700 0%, #ff8000 100%);
     }

     
     .set-goal-text {
      margin-top: 10px;
      font-weight: 500;
     }

     .set-goal-button div {
      transform: translateY(0px);
      width: 8rem;
      display: flex;
      justify-content: center;
     }
     
     .set-goal-button,
     .set-goal-button div {
      transition: 0.7s cubic-bezier(.16,1,.3,1);
     }
     
     .set-goal-button div span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 49px;
      padding: 0.75em 1.125em;
     }
     
     .set-goal-button div:nth-child(1) {
      background: linear-gradient(to right, #ffb700 0%, #ff8000 100%);
     }
     
     .set-goal-button div:nth-child(2) {
      background: linear-gradient(to right, #ffb700 0%, #ff8000 100%);
      display: flex;
      justify-content: center;
     }
     
     .set-goal-button:hover {
      box-shadow: 6px 6px 12px #c0c0c0;
     }
     
     .set-goal-button:hover div {
      transform: translateY(-50px);
     }
     
     .set-goal-button p {
      font-size: 15px;
      color: #000000;
     }

    /* SET GOAL BUTTON ABOVE */

.goal-form {
  max-width: 500px;
  z-index: 12;
}

.goal-form::before {
  content: '';
  background-image: linear-gradient(144deg,#ff6a00, #ff9d00 50%,#ffd000);
  height: 812px;
  width: 514px;
  position: absolute;
  margin-top: -8px;
  margin-left: -8px;
  z-index: -1;
  border-radius: 15px;
  box-shadow: 0px 0px 18px 0px rgb(255, 149, 0);
}

.goal-form-body {
  background-color: #ffffff;
  border-radius: 10px;
}


.goal-input {
  border: none;
  font-size: 17px;
}

.goal-floating-label {
  font-size: 20px;
  font-weight: 600;
}

.goal-submit-button {
  background: linear-gradient(144deg,#ff6a00, #ff9d00 50%,#ffbf00);
  border: solid rgb(255, 162, 0) 1px;
  font-weight: 600;
  transition: 0.2s ease-in;
  border-radius: 5px;
}

.goal-submit-button:hover {
  box-shadow: 0px 0px 7px 0px rgb(255, 157, 0);
  border: solid rgb(255, 162, 0) 1px;
}

.goal-input-0:focus {
  outline: solid #fa6e0a 5px;
  box-shadow: 0px 0px 13px 0px #fa6e0a;
}

.goal-input-1:focus {
  outline: solid #fa720a 5px;
  box-shadow: 0px 0px 13px 0px #fa720a;
}

.goal-input-2:focus {
  outline: solid #ff7300 5px;
  box-shadow: 0px 0px 13px 0px #ff7300;
}

.goal-input-3:focus {
  outline: solid #ff7b00 5px;
  box-shadow: 0px 0px 13px 0px #ff7b00;
}

.goal-input-4:focus {
  outline: solid #ff8000 5px;
  box-shadow: 0px 0px 13px 0px #ff8000;
}

.goal-input-5:focus {
  outline: solid #ff8800 5px;
  box-shadow: 0px 0px 13px 0px #ff8800;
}

.goal-input-6:focus {
  outline: solid #ff9100 5px;
  box-shadow: 0px 0px 13px 0px #ff9100;
}

.goal-input-7:focus {
  outline: solid #ff9900 5px;
  box-shadow: 0px 0px 13px 0px #ff9900;
}

.goal-input-8:focus {
  outline: solid #ffa600 5px;
  box-shadow: 0px 0px 13px 0px #ffa600;
}

.goal-input-8:focus {
  outline: solid #ffa200 5px;
  box-shadow: 0px 0px 13px 0px #ffa200;
}

.goal-input-9:focus {
  outline: solid #ffaa00 5px;
  box-shadow: 0px 0px 13px 0px #ffaa00;
}

.goal-input-10:focus {
  outline: solid #ffb300 5px;
  box-shadow: 0px 0px 13px 0px #ffb300;
}

/* GOAL SET MODAL ABOVE  */
/* INFO CHART BELLOW */

.info-card {
  position: relative;
  width: 610px;
  height: 610px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 9px 9px 18px #c0c0c0;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(130deg, rgb(255, 119, 0) 0%, rgb(255, 191, 0) 100%);
  filter: blur(16px);
  animation: blob-bounce 7s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

.info-chart { 
  width: 98%;
  height: 98%;
  content: '';
  border-radius: 10px;
  display: inline-grid;
  grid-template-rows: repeat(12, 1fr);
  gap: 5px;
  background: rgb(255, 255, 255);
  overflow: hidden;
  z-index: 2;
}

.info-line {
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 2px dotted rgb(0, 0, 0);
}

.first-col {
  width: 165px;
  margin-left: 6px;
  text-align: left;
}

.second-col {
  width: 60px;
}

.third-col {
  width: 70px;
}

.fourth-col {
  width: 90px;
}

.fifth-col {
  width: 85px;
}

.fifth-col {
  width: 90px;
}

.sixth-col {
  width: 100px;
}
/* INFO CHART ABOVE */

/* BAR CHART MUSCLE GROUPS BELLOW */
#bar-muscle-total {
  height: 700px;
  width: 800px;
  margin-top: 30px;
  --color: #adcbff;
  /* complementary of (255, 163, 0) orange */
}

.label-bar-muscles {
  /* moves label away from bar chart */
  --labels-size: 50px;
}

.bar-muscle-data {
  border-radius: 6px 6px 0px 0px;
  transition: 1s ease-in-out;
}

.bar-muscle-datatext {
  font-size: 18px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-top: -4px;
}
/* BAR CHART CHART MUSCLE GROUPS ABOVE */
  /* BAR CHART WORKOUTS LOGGED EACH DAY BELLOW */
#bar-workouts-each-day {
  height: 700px;
  width: 800px;
  margin-top: 30px;
  --color: #adcbff;
}

.label-bar-workouts-each-day {
  --labels-size: 50px;
}

.bar-workouts-each-day-data {
  border-radius: 6px 6px 0px 0px;
  transition: 1s ease-in-out;
}

.bar-workouts-each-day-datatext {
  font-size: 18px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-top: -4px;
}
  /* BAR CHART WORKOUTS LOGGED EACH DAY ABOVE */
  /* BAR CHART MUSCLE GROUPS SET EACH DAY OF WEEK BELLOW */
  #bar-muscles-each-day {
    height: 700px;
    width: 800px;
    margin-top: 30px;
    --color: #adcbff;
  }
  
  .label-bar-muscles-each-day {
    --labels-size: 50px;
  }
  
  .bar-muscles-each-day-data {
    border-radius: 6px 6px 0px 0px;
    transition: 1s ease-in-out;
  }
  
  .bar-muscles-each-day-datatext {
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-top: -4px;
  }

  .muscle-option-div-bar {
    border: solid rgb(234, 234, 234) 3px;
    border-radius: 6px;
  }

  .stat-filter-button-muscles {
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
  }

  .stat-filter-button-muscles:hover {
    background-color: #e3e3e3;
    border: none;
    border-radius: 4px;
  }

  .stat-filter-button-muscles-active {
    background: rgb(255, 163, 0);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px rgb(255, 163, 0);
  }

  .stat-filter-button-muscles-active:hover {
    background: rgb(255, 163, 0);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px rgb(255, 163, 0);
  }
/* MUSCLE GROUP SETS EACH DAY OF WEEK ABOVE */
